<div id="selected">
<% @val=1 %>
<table>

 <% trip.selected.order(:hour).each do |selected| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even')%>" >
<td>
  <%= link_to image_tag(selected.site.image.url, :class => 'list_image', :id =>'img_'+@val.to_s), selected.site %>
</td>
 
<td class="list_description">
  <dl>      <!-- definition list -->
    <dt>    <!-- definition list name-->
        <%= selected.hour.to_s + 'h: ' %>
 <%=link_to(selected.site.name, selected.site) %></dt>
    <dd>   <%= truncate(strip_tags(selected.site.description),
                :length => 80) %></dd>
  </dl>
</td>

 <!-- Acciones agrupadas en 1 celda en varias lineas -->
      <td class="list_actions">
        <%= link_to 'Show', selected.site %><br/>
        <%= link_to 'Destroy', selected,
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td>
    </tr>
<%@coord_foto= {"image_url" => selected.site.image_url.to_s, "latitud" => selected.site.latitude,  "longitud" => selected.site.longitude } %>
  <%@datos_sitios[@val]=@coord_foto %>
<% @val=@val+1 %>
  <% end %>
  </table>
</div>
