
<div id="selected">
  <script type="text/javascript">
    latlongs=new Array();
    siteNames=new Array();
    i=0;
    <%  trip.selecteds.order(:hour).each do |selected| %>
      latlongs[i]=new google.maps.LatLng(<%=selected.site.latitude%>,<%=selected.site.longitude%>);
      siteNames[i]='<%=selected.site.name%>';
      i++;
    <%end%>
    //colocaChinchetas();
  </script>
  <table> 
   <%  trip.selecteds.order(:hour).each do |selected| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> 
 
      <td> 
        <%= link_to image_tag(selected.site.image.url, :class => 'list_image'), selected.site %>
      </td> 
 
      <td class="list_description"> 
        <dl> 
          <dt><%= selected.hour.to_s + 'h: ' %> 
              <%=link_to(selected.site.name, selected.site) %></dt> 
          <dd><%= truncate(strip_tags(selected.site.description),
                 :length => 80) %></dd>
        </dl> 
      </td>
 
      <td class="list_actions"> 
        <%= link_to 'Show', selected.site %><br/>
        <%= link_to 'Destroy', selected, 
                    :confirm => 'Are you sure?',
                    :method => :delete %>

      </td> 
    </tr> 
   <% end %>
  </table> 
</div>
