<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @trip.description %>
</p>

<p>
  <b>Date:</b>
  <%= @trip.date %>
</p>


<b>Locations:</b>
  <div id="travelmap_canvas" style="width:100%; height:400px"></div>
	
<script type="text/javascript">
    travelmap();
    setMarkers(<%= getData.to_json.html_safe %>);
</script>
	

<div id="site_list">

  <h1>Sitios a visitar</h1>

  <%= render(@trip) %>

  <%= form_for(@selected, remote: true) do |f| %>
  
    <%= f.number_field :trip_id, :value => @trip.id, :hidden => true %>
    <%= f.collection_select(:site_id, 
                            Site.all,
                            :id, 
                            :name) %>
    <%= f.select(:hour, Array.new(24, 0).fill {|i| [(i.to_s + 'H'), i]}) %>
    <%= f.submit "Añadir sitio" %>

  <% end %>
</div>

<br />

<%= link_to 'Edit', edit_trip_path(@trip) %> 
<%= link_to 'Back', trips_path %>

<p />


