<script type="text/javascript">
  function nuevaChinchetaDesdeForm(){
    selectedId=$("#selected_site_id").val();
    laUrl='<%= site_url('pongasuidaqui') %>'.replace('pongasuidaqui', selectedId).concat('.json');
    //alert('Vamos alla, site_id: '+selectedId+ ' url: '+ laUrl);
    $.ajax({
      url: laUrl,
      dataType: 'json',
      data: null,
      success: function (data){
        //alert('Lo hemos bajado');
        //alert('Latitud: '+ data.latitude + ' Longitud: ' + data.longitude);
        latlongs[latlongs.length]=new google.maps.LatLng(data.latitude, data.longitude);
        siteNames[siteNames.length]=data.name;
        var marker = new google.maps.Marker({
          position: latlongs[latlongs.length-1],
          map: map,
          title:siteNames[siteNames.length-1]
        });
      }
    });
  }
</script>
  

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @trip.description %>
</p>

<p>
  <b>Date:</b>
  <%= @trip.date %>
</p>


<div id="site_list">

  <h1>Sitios a visitar</h1>

  <%= render(@trip) %>

  <%= form_for(@selected, remote: true, :html => {:onsubmit => "nuevaChinchetaDesdeForm();"}) do |f| %>
  
    <%= f.number_field :trip_id, :value => @trip.id, :hidden => true %>
    <%= f.collection_select(:site_id, 
                            Site.all,
                            :id, 
                            :name) %>
    <%= f.select(:hour, Array.new(24, 0).fill {|i| [(i.to_s + 'H'), i]}) %>
    <%= f.submit "Añadir sitio" %>
  <% end %>
</div>

<br />

<h2>Mapa:</h2> <br />

<div id="map_canvas"></div>

<%= link_to 'Edit', edit_trip_path(@trip) %> 
<%= link_to 'Back', trips_path %>

<p />



