 <% if notice %>
<p id="notice"><%= notice %></p>
 <%end %>
<p><!-- hash para pasar los datos del sitio para pintar-->
<%@datos_sitios = Hash.new((Trip.all.count)) %>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @trip.description %>
</p>

<p>
  <b>Date:</b>
  <%= @trip.date %>
</p>

<p>
  
</p>
<div id="map_canvas" style="width: 700px; height:600px "></div>






<div id="site_list">
<h1> Sitios a visitar </h1>
<%= render(@trip) %>




<%= form_for(@selected) do |f| %>
  <%= hidden_field_tag(:"selected[trip_id]", @trip.id) %>  
 <!-- modificación mía poruqe el hidden anterior no funcionaba -->  
 <%= f.collection_select(:site_id, Site.all, :id, :name) %>

    <%= f.select(:hour, Array.new(24,0).fill {|i| [(i.to_s + 'H'), i]}) %>
  
    <%= f.submit "Añadir sitio"%>

 <%end %>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>

<%for i in 1..@datos_sitios.count do %>
<span id='name_<%=i%>' style='visibility:hidden'><%=@nombre= @datos_sitios[i]["nombre"] %></span>
<span id='lati_<%=i%>' style='visibility:hidden'><%=@lati= @datos_sitios[i]["latitud"] %></span>
<span id='long_<%=i%>' style='visibility:hidden'><%=@longi=@datos_sitios[i]["longitud"] %></span>
<span id='imag_<%=i%>' style='visibility:hidden'><%=@image_url= @datos_sitios[i]["image_url"] %></span>
<% end%>

<% @lati=0%>
<% @longi=0%>
<% if @datos_sitios.count>=1 %>
<%for i in 1..@datos_sitios.count do %>

<%@lati= @lati+ @datos_sitios[i]["latitud"] %>
<%@longi= @longi+ @datos_sitios[i]["longitud"] %>
<% end%>

<% @lati=@lati/@datos_sitios.count%>
<% @longi=@longi/@datos_sitios.count%>
<% else  %>
<% @lati= 40.416691%>
<% @longi= -3.700345 %>
<% end%>
<script type="text/javascript">
//tenemos que recorrer los sitios del viaje y obtener sus valores
//
var latlng = new google.maps.LatLng(<%=@lati%>, <%=@longi%>);
var myOptions = {
    zoom: 4,                                            // Define scale
    center: latlng,                                      // Define map center
    mapTypeId: google.maps.MapTypeId.SATELLITE // tipo Roadmad, Satellite, Terrain, Hybrid
  };
// Load Google Map according to “myOptions” in Canvas identified by “map_canvas”

var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var n=1; //se usa para .... ?? 
 

    var place = new Array();
	var image = new Array();

<% @valor=1 %>
var j =1;

for (j=1 ; j<<%=@datos_sitios.count+1 %>; j++ ){

	var name = document.getElementById("name_"+j).innerHTML
	var lati = document.getElementById("lati_"+j).innerHTML
	var long = document.getElementById("long_"+j).innerHTML
	//var imag = document.getElementById("long_"+j).innerHTML
    place[name] = new google.maps.LatLng(lati , long);
	image[name] = document.getElementById("imag_"+j).innerHTML;
	//document.write( "name: "+ name + " y su latitud y longitud :" + place[name]+ " y su imagen es: " + image[name] + "<br />");
      
}

var markers = new Array();
var icons = new Array();
var c = 0;
var iconSize = new google.maps.Size(40, 40);
for(var i in place){
	
	c++;
	//var icon = new google.maps.MarkerImage("http://domain/path/image.png", null, null, null, new google.maps.Size(64, 64));
	icons[c] = new google.maps.MarkerImage(image[i], null, null, null, iconSize);
	//alert("Hemos pinchado en <br/><strong>" + i + "</strong><br/>Latitud: <br/>Longitud: ");
    markers[c] = new google.maps.Marker({
        position: place[i]
        , map: map
        , title: i
        //, icon: 'http://gmaps-samples.googlecode.com/svn/trunk/markers/red/marker' + c + '.png'
		, icon: icons[c]
    });
	/*
    google.maps.event.addListener(markers[c], 'click', function(){
        var popup = new google.maps.InfoWindow();
        var note = 'Wohoooo, salió el InfoWindow cuando pulsé el marcador y en el lugar: ' + i
           + ', pero ¿por qué todos se muestran en ' + i + '?';
        popup.setContent(note);
        popup.open(map, markers[c]);
    });
	*/
}
</script>




