 <% if notice %>
<p id="notice"><%= notice %></p>
 <%end %>
<p>
<%@datos_sitios = Hash.new((Trip.all.count)) %>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @trip.description %>
</p>

<p>
  <b>Date:</b>
  <%= @trip.date %>
</p>

<p>
  
</p>

 <div id="map_canvas" style="width: 400px; height:400px "></div>


<div id="site_list">
<h1> Sitios a visitar </h1>
<%= render(@trip) %>
<% @datos_sitios.each do |sitio_eleg| %>

  
<%for i in 1..@datos_sitios.count do %>
<p><%= @datos_sitios[i]["image_url"] %></p>
<p><%= @datos_sitios[i]["latitud"] %></p>
<p><%= @datos_sitios[i]["longitud"] %></p>
<% end%>
<% end%>
<%= form_for(@selected, remote: true) do |f| %>
  <%= hidden_field_tag(:"selected[trip_id]", @trip.id) %>  
 <!-- modificación mía poruqe el hidden anterior no funcionaba -->  
 <%= f.collection_select(:site_id, Site.all, :id, :name) %>

    <%= f.select(:hour, Array.new(24,0).fill {|i| [(i.to_s + 'H'), i]}) %>
  
    <%= f.submit "Añadir sitio"%>

 <%end %>





<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>


<script type="text/javascript">
//tenemos que recorrer los sitios del viaje y obtener sus valores
//
var latlng = new google.maps.LatLng(40.465625341114084, -3.6892175674438477);
var myOptions = {
    zoom: 5,                                            // Define scale
    center: latlng,                                      // Define map center
    mapTypeId: google.maps.MapTypeId.SATELLITE // tipo Roadmad, Satellite, Terrain, Hybrid
  };
// Load Google Map according to “myOptions” in Canvas identified by “map_canvas”
var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
// Add marker in Google Maps “map” in position defined by “lating”
//var marker = new google.maps.Marker({
//                position: latlng,
 //               map: map,
 //               title:"You are here"
  //          });

 //cerramos función displayPosition(pos)
 
// Error callback function
  function errorFunction(pos) { alert('Error!'); }
</script>


