<h1>Listing trip_sites</h1>

<table>
  <tr>
    <th>Trip</th>
    <th>Site</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trip_sites.each do |trip_site| %>
  <tr>
    <td><%= trip_site.trip_id %></td>
    <td><%= trip_site.site_id %></td>
    <td><%= link_to 'Show', trip_site %></td>
    <td><%= link_to 'Edit', edit_trip_site_path(trip_site) %></td>
    <td><%= link_to 'Destroy', trip_site, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip site', new_trip_site_path %>
