<h1>Listing viajes</h1>

<table>
  <tr>
    <th>Site</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @viajes.order(:position).each do |viaje| %>
  <tr>
    <td><%= viaje.site.name if viaje.site %></td>
    <td><%= viaje.position %></td>
    <td><%= link_to 'Show', viaje.site %> |</td>
    <td><%= link_to 'Edit Position', edit_viaje_path(viaje) %> |</td>
    <td><%= link_to 'Destroy', viaje, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <%= link_to 'New Viaje', new_viaje_path %> -->
