<div id="site_list"> 
  <h1>Listing Sites</h1> 
 
  <table> 
  <% @sites.each do |site| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> 
 
      <td>
        <% url = (site.image_url=="")?site.imagen.url : site.image_url %>
        <%= link_to image_tag(url, :class => 'list_image'), site %>
      </td> 
 
      <td class="list_description"> 
        <dl> 
          <dt><%= link_to site.name, site %></dt> 
          <dd><div><%= truncate(strip_tags(site.description),
                 :length => 80) %></div>
	       Añadido <%= @num[site.id] %> <%= @num[site.id]==1?"vez":"veces" %> a un viaje.</dd>
        </dl> 
      </td>
 
      <td class="list_actions"> 
        <%= link_to 'Show', site %><br/>
        <%= link_to 'Edit', edit_site_path(site) %><br/>
        <%= link_to 'Destroy', site, 
                    :confirm => 'Are you sure?',
                    :method => :delete %><br/>
 	<%= form_for(@selected, remote: true) do |f| %>
  
 	<%= f.number_field :site_id, :value => site.id, :hidden => true %>
   	<%= f.collection_select(:trip_id, 
                            Trip.all,
                            :id, 
                            :name) %>
	<%= f.select(:hour, Array.new(24, 0).fill {|i| [(i.to_s + 'H'), i]}) %>
	<%= f.submit "Añadir sitio" %>
	<% end %>
 
    </td> 
    </tr> 
  <% end %>
  </table> 
</div> 
 
<br /> 
 
<%= link_to 'New site', new_site_path %>
