<div id="site">
 
  <h1><%= @site.type.name if @site.type %></h1> 

  <%= image_tag(@site.image_url, :class => 'site_image') %>

  <h3><%= @site.name %></h3> 

  <p><%=sanitize @site.description %></p>

  <div class="position"> 
    <span>
      <b>Latitude:</b>
      <%= @site.latitude %>
    </span>
 
    <span>
       <b>Longitude:</b>
       <%= @site.longitude %>
    </span>
  </div> 
  <p/>
  Ha sido seleccionado <%= Selected.where('site_id=?',@site.id).count %> veces en alg&uacute;n viaje.
</div> 

<p />
<!--<%= link_to 'Include', mi_viajes_path, :method => :post, :mi_viaje => @mi_viaje_candidate %> | -->
<!--
<%= link_to 'Include', :controller => 'mi_viajes', :action => 'create', :id => @mi_viaje_candidate %>
-->
<%= form_for(@mi_viaje_candidate) do |f| %>

<%= f.number_field :site_id, {:value => @site.id, :style => "display:none"} %>

<%= f.number_field :order_in_trip, {:style => "display:none"} %>

<%= f.submit nil, :value => "Añadir a Mi Viaje"%>
<%end%>
<p />
<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
