<!DOCTYPE html> 
<html> 
<head> 
  <title>Planet</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"> 
</script>

  <script type="text/javascript">
    $(function() {
      $( "#site_description" ).cleditor();
    });
  </script>
<script type="text/javascript">
var puntos = [];
function mostrarMapa(){
	var mylat = 0;
	var mylong = 0;

	var latlng = new google.maps.LatLng(mylat, mylong);

	var myOptions = {
		zoom: 25,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		scrollwheel: false
	};
	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	var infowindow = new google.maps.InfoWindow();

	    var marker, i;
		var bounds = new google.maps.LatLngBounds ();
	    for (i = 0; i < puntos.length; i++) {
		bounds.extend (new google.maps.LatLng (puntos[i][1], puntos[i][2]));  
	      marker = new google.maps.Marker({
	        position: new google.maps.LatLng(puntos[i][1], puntos[i][2]),
	        map: map
	      });
		
	      google.maps.event.addListener(marker, 'click', (function(marker, i) {
	        return function() {
			content = '<div class="googft-info-window" style="font-family: sans-serif; width: 330px; height: auto; overflow-y: auto;"><table><tr><td><img src="/assets/'+puntos[i][4]+'" style="width: 100px; vertical-align: top; margin-right: .5em" /></td><td style="vertical-align:top;"> <h2 class="color: brown">'+puntos[i][0]+'</h2> <p>'+puntos[i][3]+'</p></td></tr></table> </div>';
	          infowindow.setContent(content);
	          infowindow.open(map, marker);
	        }
	      })(marker, i));
	    }
	map.fitBounds(bounds);
		
}
</script>
</head>
<body id="planet"> 
  <div id="banner"> 
    <%= image_tag("logo3.png") %>
    <%= @page_title || "Planet Travel Site" %>
  </div> 
  <div id="columns"> 
    <div id="side"> 
      <%= link_to "Home", planet_index_path %><br /> 
      <%= link_to "Tipos",  types_path %><br /> 
      <%= link_to "Sitios", sites_path %><br /> 
      <%= link_to "Viaje", viajes_path %><br />
      <%= link_to "Viajes", trips_path %><br />  
      <%= link_to "Contact", planet_contact_path %>
    </div> 
    <div id="main"> 
      <%= yield %>
    </div> 
  </div> 
</body> 
</html> 